@font-face {
  font-family: 'SF UI Display';
  src: url('../fonts/SFUIDisplay-Regular.eot');
  src: url('../fonts/SFUIDisplay-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/SFUIDisplay-Regular.woff2') format('woff2'),
      url('../fonts/SFUIDisplay-Regular.woff') format('woff'),
      url('../fonts/SFUIDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF UI Display';
  src: url('../fonts/SFUIDisplay-Medium.eot');
  src: url('../fonts/SFUIDisplay-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/SFUIDisplay-Medium.woff2') format('woff2'),
      url('../fonts/SFUIDisplay-Medium.woff') format('woff'),
      url('../fonts/SFUIDisplay-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF UI Display';
  src: url('../fonts/SFUIDisplay-Semibold.eot');
  src: url('../fonts/') format('embedded-opentype'),
      url('../fonts/SFUIDisplay-Semibold.woff2') format('woff2'),
      url('../fonts/SFUIDisplay-Semibold.woff') format('woff'),
      url('../fonts/SFUIDisplay-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

